<!-- Sidebar Start -->
<div class="sidebar">

<!-- Logo Start -->
<a href="index.html">
    <div class="logo-container" id="step1">
        <h1>Archomed</h1>
        <h4>admin template</h4>
    </div>
</a>
<!-- Logo End -->

<!-- Sidebar User Profile Start -->
<div class="sidebar-profile">
    <div class="user-avatar">
        <img src="http://www.placehold.it/60x60" alt="Samantha Lenna Wilson" />
    </div>
    <div class="user-info">
        <a href="profile.html">Samantha Lenna Wilson</a>
    </div>
</div>

<div class="responsive-menu">
    <a href="#"><i class="fa fa-bars"></i></a>
</div>
<!-- Sidebar User Profile End -->

<!-- Menu Start -->
<ul class="menu">
    <li class="lightblue active">
        <a href="/dashboard">
            <span class="menu-icon"><i class="fa fa-home"></i></span>
            <span class="menu-text">Dashboard</span>
            <span class="notification">4</span>
        </a>
    </li>
    <li class="parent purple">
        <a href="#">
            <span class="menu-icon"><i class="fa fa-desktop"></i></span>
            <span class="menu-text">Health Information</span>
        </a>
        <ul class="child">
            <li>
                <a href="#">Allergy</a>
            </li>
            <li>
                <a href="#">Basic Demographic Information</a>
            </li>
            <li>
                <a href="#">Blood Glucose Measurement</a>
            </li>
            <li>
                <a href="#">More..</a>
            </li>

        </ul>
    </li>
    <li class="orange">
        <a href="$">
            <span class="menu-icon"><i class="fa fa-css3"></i></span>
            <span class="menu-text">Health Message</span>
            <span class="notification lightgreen">62</span>
        </a>
    </li>
    <li class="lightred">
        <a href="#">
            <span class="menu-icon"><i class="fa fa-windows"></i></span>
            <span class="menu-text">Sharing</span>

        </a>

    </li>
    <li class="lightyellow">
        <a href="#">
            <span class="menu-icon"><i class="fa fa-users"></i></span>
            <span class="menu-text">Ratings</span>
            <span class="notification lightblue">200</span>
        </a>

    </li>
    <li class="green">
        <a href="#">
            <span class="menu-icon"><i class="fa fa-rocket"></i></span>
            <span class="menu-text">Following / Followers</span>
            <span class="notification lightblue">70</span>
        </a>

    </li>
    <li class="blue">
        <a href="#">
            <span class="menu-icon"><i class="fa  fa-asterisk"></i></span>
            <span class="menu-text">Resource</span>
        </a>
    </li>
    <li class="lightblue">
        <a href="">
            <span class="menu-icon"><i class="fa fa-map-marker"></i></span>
            <span class="menu-text">History</span>
            <span class="notification lightblue">21</span>
        </a>

    </li>
    <!--<li class="lightorange">
        <a href="progress-bars.html">
            <span class="menu-icon"><i class="fa fa-signal"></i></span>
            <span class="menu-text">Progress Bars</span>
        </a>
    </li>
    <li class="parent lightyellow">
        <a href="">
            <span class="menu-icon"><i class="fa fa-book"></i></span>
            <span class="menu-text">Forms</span>
        </a>
        <ul class="child">
            <li>
                <a href="general-forms.html">General Form Elements</a>
            </li>
            <li>
                <a href="smart-forms.html">Smart Form Elements</a>
            </li>
            <li>
                <a href="form-wizards.html">Form Wizards</a>
            </li>
        </ul>
    </li>
    <li class="pink">
        <a href="settings.html">
            <span class="menu-icon"><i class="fa fa-cogs"></i></span>
            <span class="menu-text">Settings</span>
            <span class="notification blue">2</span>
        </a>
    </li>
    <li class="cream">
        <a href="pricing-tables.html">
            <span class="menu-icon"><i class="fa fa-table"></i></span>
            <span class="menu-text">Pricing Tables</span>
            <span class="notification green">2</span>
        </a>
    </li>
    <li class="marine">
        <a href="tabs.html">
            <span class="menu-icon"><i class="fa fa-bars"></i></span>
            <span class="menu-text">Tabs & Accordions</span>
        </a>
    </li>
    <li class="darkblue">
        <a href="projects.html">
            <span class="menu-icon"><i class="fa fa-folder-open-o"></i></span>
            <span class="menu-text">Projects</span>
        </a>
    </li>
    <li class="lightyellow">
        <a href="tasks.html">
            <span class="menu-icon"><i class="fa fa-file-text-o"></i></span>
            <span class="menu-text">Tasks</span>
        </a>
    </li>
    <li class="purple">
        <a href="invoice.html">
            <span class="menu-icon"><i class="fa fa-money"></i></span>
            <span class="menu-text">Invoice</span>
        </a>
    </li>-->
</ul>
<!-- Menu End -->

</div>
<!-- Sidebar End -->
